body {
    margin-right: 5px;
    margin-left: 5px;

}

.title {
   white-space: pre;
   margin-left: -70px;
   margin-top: 6px;
}

.logo_title {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1px;
   padding: 10px;
   margin-top: -10px;
   position: relative;
}

.adjust_date_time {
   text-align: center;
   margin-right: 70px;
}

.create_container {
  border-radius: 0px;
  background: rgb(255, 255, 255);
  margin-top: 20px;
  padding: 15px;
  height: 120px;
  margin-left: 37px;
  box-shadow: 2px 2px 16px 2px lightgrey;
}

.create_container2 {
  margin-top:20px;
  padding: 15px;
  height: 470px;
}

.second_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.table_width {
  border-radius: 0px;
  background: rgb(255, 255, 255);
  width: 730px;
  margin-left: 37px;
  box-shadow: 2px 2px 16px 2px lightgrey;
}

.chart_width {
  border-radius: 0px;
  background: rgb(255, 255, 255);
  width: 730px;
  margin-left: 15px;
  box-shadow: 2px 2px 16px 2px lightgrey;
}

.create_container:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 0px 0px lightgrey;
}

.table_width:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 0px 0px lightgrey;
}

.chart_width:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 0px 0px lightgrey;
}


.adjust_image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    position: fixed;
}

.margin_left_value {
  margin-left: 110px;
}

.adjust_price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    position: fixed;
}

.text_row2 {
   margin-top: 40px;
}

.adjust_image_row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    position: fixed;
}

.margin_left_value_row2 {
  margin-left: 60px;
}

.adjust_price_row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    position: fixed;
    white-space: pre;
}

.table_style {
  border-collapse: collapse;
  width: 100%;
}

.table_style Thead, .table_style Th, .table_style Td {
   border: 1px solid #dddd;
   padding: 7px;
}

.table_style Thead {
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: left;
  background-color: #006fe6;
  color: white;
}

.hover_only_row:nth-child(even){
   background-color: white;
}

.header_hover:hover {
   background-color: #9038D5;
   color: white;
}

.hover_only_row:hover {
   background-color: #dddd;
}

.image {
  margin-top: -12px;
}

.logo_text {
  margin-top: -8px;
}

.logo_image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  position: fixed;
}


.container-display {
  display: flex;
}

.flex-display {
  display: flex;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}