body {
    margin: 0;
    background-color: rgb(34, 37, 49);
}

.title_image {
   display: flex;
   flex-direction: row;
   margin-top: 2px;
}

.title {
   white-space: pre;
   display: flex;
   flex-direction: row;
}

.logo_title {
   display: flex;
   flex-direction: row;
   gap: 5px;
   margin-left: 10px;
   margin-top: 3px;
   flex: 6;
}

.adjust_date_time {
   display: flex;
   flex-direction: row;
   margin-top: 11px;
   flex:1;
   white-space: pre;
   margin-right: 10px;
}

.title_date_time_container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(23,25,36);
}

.adjust_first_card {
  width: 340px;
  border-radius: 8px;
  background-color: rgb(50, 53, 70);
  height: 115px;
  box-shadow:  0px 0px 1px 0px rgb(88, 102, 126);
}

.first_card_column {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.adjust_second_card {
  width: 340px;
  border-radius: 8px;
  background-color: rgb(50, 53, 70);
  height: 115px;
  box-shadow:  0px 0px 1px 0px rgb(88 102 126);
}

.second_card_column {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.adjust_third_card {
  width: 340px;
  border-radius: 8px;
  background-color: rgb(50, 53, 70);
  height: 115px;
  box-shadow:  0px 0px 1px 0px rgb(88 102 126);
}

.third_card_column {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.adjust_fourth_card {
  width: 340px;
  border-radius: 8px;
  background-color: rgb(50, 53, 70);
  height: 115px;
  box-shadow:  0px 0px 1px 0px rgb(88 102 126);
}

.fourth_card_column {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.flexbox_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.adjust_margin {
   margin-top: 20px;
}

.coin_name {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.coin_price {
  display: flex;
  flex-direction: row;
}

.price_indicator {
  display: flex;
  flex-direction: row;
  margin-top: 14px;
}

.right_price_value {
  display: flex;
  flex-direction: row;
  margin-top: 14px;
}

.adjust_price_and_coin {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.adjust_price_indicator_right {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: -12px;
}

.adjust_price_no_right {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin-top: -12px;
}

.coin_price_column {
  display: flex;
  flex-direction: column;
}

.price_difference {
  display: flex;
  flex-direction: row;
}

.difference_indicator {
  display: flex;
  flex-direction: row;
  margin-top: 11px;
}

.difference_row {
  display: flex;
  flex-direction: row;
  gap:2px;
}

.cap_right_value {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.diff_row_cap {
  display: flex;
  flex-direction: row;
  gap:10px;
  margin-top: -16px;
}

.zero_price_difference {
  display: flex;
  flex-direction: row;
}

.zero_diff_row_cap {
  display: flex;
  flex-direction: row;
  gap:10px;
}

.image {
  display: flex;
  flex-direction: row;
}

.logo_text {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  color: white;
}

.logo_image {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.table_width {
  border-radius: 0px;
  background-color: rgb(50, 53, 70);
  width: 700px;
  /*height: 400px;*/
  box-shadow: 0px 0px 1px 0px rgb(88 102 126);
}

.chart_width {
  border-radius: 0px;
  background: rgb(50, 53, 70);
  width: 700px;
  /*height: 400px;*/
  box-shadow: 0px 0px 1px 0px rgb(88 102 126);
}

.table_chart_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.adjust_table_chart_margin {
   margin-top: 20px;
   margin-bottom: 100px;
}

.adjust_first_card:hover {
  background-color: rgb(23,25,36);
  box-shadow: 0px 0px 1px 0px #282b3e;
}

.adjust_second_card:hover {
  background-color: rgb(23,25,36);
  box-shadow: 0px 0px 1px 0px #282b3e;
}

.adjust_third_card:hover {
  background-color: rgb(23,25,36);
  box-shadow: 0px 0px 1px 0px #282b3e;
}

.adjust_fourth_card:hover {
  background-color: rgb(23,25,36);
  box-shadow: 0px 0px 1px 0px #282b3e;
}

.table_width:hover {
  background-color: rgb(23,25,36);
  box-shadow: 0px 0px 1px 0px #282b3e;
}

.chart_width:hover {
  background-color: rgb(23,25,36);
  box-shadow: 0px 0px 1px 0px #282b3e;
}

.table_style {
  border-collapse: collapse;
  width: 100%;
}

.table_style Thead, .table_style Th, .table_style Td {
   border: 1px solid #dddd;
   /*padding: 7px;*/
}

.table_style Thead {
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: left;
  background-color: rgb(23,25,36);
  color: white;
}

.hover_only_row:nth-child(even){
   background-color: rgb(50, 53, 70);
}

.header_hover:hover {
   background-color: rgb(50, 53, 70);
   color: white;
}

.hover_only_row:hover {
   background-color: rgb(23,25,36);
}

.text_value {
   display: flex;
   flex-direction: row;
}

.numeric_value {
   display: flex;
   flex-direction: row;
}

.adjust_text_and_numeric {
   display: flex;
   flex-direction: row;
   gap: 7px;
}

.time_value {
   display: flex;
   flex-direction: row;
}

.adjust_text_numeric_and_time {
   display: flex;
   flex-direction: row;
   gap: 2px;
   margin-left: -500px;
   margin-top: 5px;
}

.over_ride_text_on_chart {
   display: flex;
   flex-direction: row;
}

.footer_text{
   display: flex;
   flex-direction: row;
   color: white;
   line-height: 1.2;
}

.footer_content {
   display: flex;
   flex-direction: row;
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 50px;
   justify-content: center;
   align-items: center;
   background-color: rgb(23,25,36);
}
